@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFF;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    /*
        align-items: stretch; -> Ocupa todo os espaço do container;
        align-items: center; -> Ocupa somente o espaço necessário dentro do container;    
    */
}

.header__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.header__notification i::before{
    content: "\e906";
    font-size: 24px;
}

.header__logo {
    width: 40px;
}

.lateral-menu {
    display: flex;
    flex-direction: column; /* 
    changes the orientation of the flex container.
        column: vertical;
        row: horizontal.
    
        this affects justify content and align items.    

    when the flex direction is column:
        justify-content: vertical;
        align-items: horizontal
    
    when the flex direction is row:
        justify-content: horizontal;
        align-items: vertical.
    */
    
     /* flex-wrap: wrap;Break lines */
    /*flex-wrap: no-wrap; Do not  Break lines */
    background-color: #15191c;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.lateral-menu--show {
    left: 0;
    transition: .25s;
}


.lateral-menu__logo{
    align-self: center;
    width: 118px;
    padding: 16px;
}

.lateral-menu__link {
    height: 64px;
    color: #95999c;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.lateral-menu__link--active {
    color: #FFF;
    padding-left: 56px;
    border-left: 8px solid #FFF;
}

.lateral-menu__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.lateral-menu__link--start::before{
    content: "\e902";
}

.lateral-menu__link--videos::before {
    content: "\e90e";
}

.lateral-menu__link--summit::before{
    content: "\e909";
}

.lateral-menu__link--members::before{
    content: "\e903";
}

.lateral-menu__link--shirts::before{
    content: "\e900";
}

.lateral-menu__link--paintings::before{
    content: "\e90a";
}